:root {
	--main-font: "Outfit", sans-serif;
}

label {
  color: #000;
  text-transform: uppercase;
}

.form {
  margin: 4rem auto;
}

form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: auto;
  max-width: 400px;
}

form label {
  margin-bottom: 0.5rem;
}

form input,
textarea {
  margin-bottom: 1rem;
  padding: 10px 18px;
  font-size: 1.2rem;
  font-family: var(--main-font);
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(0, 0, 0);
  color: #000;
}

form select,
option {
  margin-bottom: 1rem;
  padding: 10px 10px;
  font-size: 1rem;
  font-family: var(--main-font);
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(0, 0, 0);
}

.form-btn {
  width: 200px;
  /* margin-left: 25%; */
  margin-top: 2rem;
  padding: 1rem;
  font-family: var(--main-font);
  font-size: 1.2rem;
  border-radius: 5px;
}

.form-btn:hover {
	font-size: 1.3rem;
}
